*{
    margin: 0;
    padding: 0;
}

cabeçalho {
    background-color: rgb(41, 93, 206);
    color: white
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
} 
    
    .cabeçalho-imagem{
     width: 25px;
}

.lua-imagem {
    width: 30px;
}

.lua {
    background-image: linear-gradient(rgb(41, 93, 206),rgb(58, 150, 211));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.lua-div-conteudo {
    width: 35%;
}